@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

div {
  font-size: 16px;
}

.text {
  font-size: 80px;
  margin-left: 20px;
  color: #fff;
  font-weight: 900;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-family: 'KyoboHand';
}

.text::after {
  content: '';
  margin-left: 5px;
  border-right: 2px solid #000;
  animation: text .9s infinite steps(2);
}

@keyframes text {
  0% {
    border-right: 2px solid #fff;
  }

  100% {
    border-right: 2px solid #000;
  }
}